# Development
# TODO(jmcarp) Install from PyPI after 0.2.4 release
git+https://github.com/18F/rdbms-subsetter

# Testing
pytest==3.7.4
pytest-cov==2.5.1
factory_boy==2.8.1
nplusone==0.8.0
webtest==2.0.27
pdbpp==0.9.1
click==6.7

