apispec==0.19.0
cfenv==0.5.2
invoke==0.15.0
psycopg2==2.7.1
Flask==0.12
Flask-Cors==3.0.2
Flask-Script==2.0.5
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.1
python-dateutil==2.4.2
sqlalchemy-postgres-copy==0.3.0
networkx==1.11
newrelic==2.96.0.80
SQLAlchemy==1.0.17
icalendar==3.9.1
GitPython==1.0.1
gunicorn==19.7.1
gevent==1.2.2
webargs==0.18.0
ujson==1.33
requests==2.18.4
elasticsearch==2.4.0
elasticsearch-dsl==2.1.0
bandit==1.4.0
git+https://github.com/18F/slate.git

# Marshalling
flask-apispec==0.2.0
marshmallow==2.6.0
marshmallow-sqlalchemy==0.8.0
git+https://github.com/jmcarp/marshmallow-pagination@master

# Data export
boto3==1.4.4
smart_open==1.5.6

# Task queue
celery==4.1.1
celery-once==1.2.0
redis==2.10.6
