psycopg2
git+git://github.com/flask-restful/flask-restful.git
flask-sqlalchemy
Flask-Script
newrelic
celery>=3.1.17
SQLAlchemy>=0.9.9
GitPython>=1.0.1
gunicorn

marshmallow>=2.0.0b2
marshmallow-sqlalchemy>=0.2.0
webargs>=0.13.0
git+https://github.com/jmcarp/smore@check-base-path

nose>=1.3.6
factory-boy>=2.5.2

invoke>=0.10.1
git+https://github.com/jmcarp/rdbms-subsetter@current
