psycopg2
git+git://github.com/flask-restful/flask-restful.git
nose
flask-sqlalchemy
Flask-Script
newrelic
celery>=3.1.17
SQLAlchemy>=0.9.9
gunicorn

marshmallow>=1.2.4
webargs>=0.13.0
git+https://github.com/marshmallow-code/smore@dev
