---
applications:
- name: <name>-kill-<date>
  memory: 1024M
  disk_quota: 1024M
  command: "(<put your command here> && echo SUCCESS || echo FAIL) && sleep infinity"
  no-route: true
  path: ../
  stack: cflinuxfs3
  buildpacks:
    - python_buildpack
  health-check-type: process
  services:
    - fec-s3-prod
    - fec-api-search56
    - fec-creds-prod
    - fec-redis
  env:
    FEC_API_USE_PROXY: true
    APP_NAME: fec | api | prod
    PRODUCTION: True
