---
path: ../
memory: 1G
stack: cflinuxfs3
buildpack: python_buildpack
env:
  FEC_API_WHITELIST_IPS: true
  APP_NAME: fec | api | stage
  WEB_CONCURRENCY: 4
services:
  - fec-api-search56
  - fec-redis
  - fec-creds-stage
  - fec-s3-stage
applications:
  - name: celery-beat
    instances: 1
    memory: 256M
    no-route: true
    health-check-type: process
    command: celery beat --app webservices.tasks --loglevel INFO
