---
path: ../
memory: 1G
stack: cflinuxfs2
buildpack: python_buildpack
env:
  CACHE_ALL_REQUESTS: True
  NEW_RELIC_APP_NAME: fec | celery beat | dev
  NEW_RELIC_CONFIG_FILE: /home/vcap/app/newrelic.ini
  NEW_RELIC_ENV: development
  NEW_RELIC_LOG: stdout
  WEB_CONCURRENCY: 4
services:
  - fec-api-search
  - fec-redis
  - fec-creds-dev
  - fec-s3-dev
applications:
  - name: celery-beat
    instances: 1
    memory: 256M
    no-route: true
    health-check-type: process
    command: celery beat --app webservices.tasks --loglevel INFO
