path: ../
applications:
- name: <name>-kill-<date>
  memory: 1024M
  disk_quota: 1024M
  command: "(<put your command here> && echo SUCCESS || echo FAIL) && sleep infinity"
  buildpack: python_buildpack
  env:
    FEC_API_USE_PROXY: true
    APP_NAME: fec | api | stage
    PRODUCTION: True
    WEB_CONCURRENCY: 4
  no-route: true
  services:
  - fec-s3-stage
  - fec-api-search56
  - fec-creds-stage
  - fec-redis
  stack: cflinuxfs3
  health-check-type: process
