---
applications:
- name: <name>-kill-<date>
  memory: 1024M
  disk_quota: 1024M
  command: "(<put your command here> && echo SUCCESS || echo FAIL) && sleep infinity"  # "(python manage.py refresh_materialized && echo SUCCESS || echo FAIL) && sleep infinity"
  no-route: true
  path: ../
  stack: cflinuxfs3
  buildpacks:
    - python_buildpack
  health-check-type: process
  services:
    - fec-api-elasticsearch
    - fec-elasticache-redis
    - fec-creds-dev
    - fec-s3-api
    - fec-s3-snapshot
  env:
    FEC_API_USE_PROXY: true
    APP_NAME: fec | api | dev
    PRODUCTION: True
