---
applications:
  - name: celery-beat
    instances: 1
    memory: 256M
    disk_quota: 1G
    no-route: true
    health-check-type: process
    command: celery --app webservices.tasks.make_celery beat --loglevel INFO
    path: ../
    stack: cflinuxfs4
    buildpacks:
      - python_buildpack
    services:
      - api-creds-feature
      - fec-api-opensearch
      - fec-elasticache-redis
      - fec-creds-feature
      - fec-s3-api
      - fec-s3-snapshot
    env:
      APP_NAME: fec | api | feature
