---
applications:
  - name: celery-worker
    instances: 1
    memory: 1G
    disk_quota: 1G
    no-route: true
    health-check-type: process
    command: celery --app webservices.tasks worker --loglevel ${LOGLEVEL:=INFO} --concurrency 2
    path: ../
    stack: cflinuxfs3
    buildpacks:
      - python_buildpack
    services:
      - fec-api-elasticsearch
      - fec-elasticache-redis
      - fec-creds-dev
      - fec-s3-api
      - fec-s3-snapshot
    env:
      APP_NAME: fec | api | dev
